@model CoffeeShop.Models.UserReg

@{
    ViewData["Title"] = "Register";
}


@{
    if (ViewData["errorMsg"] != null)
    {
        <p><strong>@ViewData["errorMsg"]</strong></p>
    }
}

<h1 class="display-4">Please fill the form to register</h1>
<div class="col-md-6">
    <div class="from-group ">
        <form asp-controller="Register" asp-action="Register" method="post">
            <label>First Name: </label><input type="text" name="fname" maxlength="20" class="form-control" />
            <label>Last Name: </label><input type="text" name="lname" maxlength="20" class="form-control" />
            <label>Email: </label><input type="email" name="email" placeholder="name@example.com" class="form-control" />
            <label>Phone: </label><input type="tel" name="phone" maxlength="10" class="form-control" />

            <br />
            @Html.LabelFor(m => m.Drink):
            <select asp-for="Drink">
                @{
                    string[] drink = Registration.Drink;
                    foreach (string d in drink)
                    {
                        <option>@d</option>
                    }
                }
            </select>
            <br />

            <br />
            @Html.LabelFor(m => m.Location):
            <select asp-for="Drink">
                @{
                    string[] location = Registration.Location;
                    foreach (string l in location)
                    {
                        <option>@l</option>
                    }
                }
            </select>
            <br />

            <label>UserName: </label><input type="text" name="uname" maxlength="20" class="form-control" />
            <label>Password: </label>
            <input type="password" name="password" minlength="6" class="form-control" />
            <small id="emailHelp" class="form-text text-muted">(Minimum 6 characters)</small>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

